.first-load {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #000;
  z-index: 10;
  top: 0;
}
.tile1 {
  padding-bottom: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.tile1 .hero-text {
  color: #fff;
  position: absolute;
  width: 96%;
  left: 2%;
  right: 2%;
  top: 25%;
  font-size: 4em;
  text-align: center;
}

.phone-cont {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 25%;
  border-radius: 35px;
  box-shadow: 30px 30px 40px #0000004d;
  align-items: center;
  background-color: #0000004d;
}
.real-image {
  position: absolute;
  width: 92%;
  left: 4.3%;
  top: 1.6%;
}
.tile1 .cta {
  padding-top: 30px;
}
.tile1 .image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: translate(14%, 155%) scale(8.5);
  width: 95%;
  margin: auto;
}
.tile1 .col {
  width: 15.8%;
  transform: translateX(2%);
}
.tile1 .col > img {
  margin-top: -14%;
}
.tile1 .col img {
  width: 100%;
}
.tile1 .col1 {
  transform: translateY(13%);
}
.tile1 .col2 {
  transform: translateY(2%);
}
.tile1 .col3 {
  transform: translateY(-20%);
}
.tile1 .col4 {
  transform: translateY(-3%);
}
.tile1 .col5 {
  transform: translateY(10%);
}
.tile1 .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -3%;
  width: 36%;
  right: 16%;
}
.tile1 .content .img-cont {
  width: 25%;
  margin-bottom: 20px;
}
.tile1 .hero-heading {
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 20px;
}
.tile1 .pulse {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fc024d;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(252, 2, 77, 0.6);
  animation: pulse 2s infinite;
  margin-right: 10px;
}
.tile1 .glance-btn {
  margin-top: 40px;
}
.video-tile {
  position: relative;
  min-height: unset;
  height: 100vh;
  overflow: hidden;
}
.video-tile video {
  object-fit: cover;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(252, 2, 77, 0.7);
    transform: scale(0.8);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(252, 2, 77, 0);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(252, 2, 77, 0);
    transform: scale(0.8);
  }
}
/* Tile 2 */
.tile2 {
  margin-top: 0px;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.tile2 .overlay {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.tile2 .content-box {
  width: 90%;
  position: absolute;
  padding-left: 4%;
}
.tile2 .inner-content {
  width: 30%;
  margin-left: 10%;
}
.first-row {
  color: #fff;
}
.second-row {
  color: #fff;
  margin-top: 20px;
  width: 70%;
}
@keyframes particleAnimation1 {
  from {
    left: 20%;
    top: -100px;
    opacity: 1;
  }
  to {
    left: calc(100% + 100px);
    top: calc(100% + 100px);
    opacity: 0;
  }
}
@keyframes particleAnimation2 {
  from {
    left: 45%;
    top: -100px;
    opacity: 1;
  }
  to {
    left: calc(100% + 100px);
    top: calc(100% + 100px);
    opacity: 0;
  }
}
@keyframes particleAnimation3 {
  from {
    left: 35%;
    top: -100px;
    opacity: 1;
  }
  to {
    left: calc(100% + 100px);
    top: calc(100% + 100px);
    opacity: 0;
  }
}
.star {
  position: absolute;
  top: 50px;
  width: 2px;
  height: 2px;
  background-color: white;
  /* animation-name:particleAnimation; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.star::before {
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  right: -14px;
  top: -35px;
  height: 2px;
  transform: rotateZ(45deg);
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
}
.p-1 {
  animation-name: particleAnimation1;
  animation-duration: 20s;
}
.p-2 {
  animation-name: particleAnimation2;
  animation-duration: 5s;
}
.p-3 {
  animation-name: particleAnimation3;
  animation-duration: 10s;
}
/* Tile 3 */

.tile3 {
  margin: 0;
  background-color: #fc024d;
  position: relative;
}
.tile3 .overlay {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.tile3 .inner-cont {
  display: flex;
  justify-content: flex-end;
}
.tile3 .image-cont {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
}
.tile3 .image-cont .img-box {
  width: 286px;
  height: 286px;
  transition: all 0.5s ease-in-out;
}
.tile3 .content {
  width: 28%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tile3 .content .big-text {
  margin-left: -54%;
}
.tile3 .content .desc {
  margin-top: 20px;
}
/* Tile 4 */
.tile4 {
  padding: 200px 0 100px;
}
.tile4 .content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}
.tile4 .content .heading {
  width: 25%;
}
.tile4 .content .desc {
  width: 25%;
}
.tile4 .image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
.tile4 .image-container .img-box {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tile4 .image-container .img-box .category {
  margin-bottom: 35px;
}
/* slick css */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slick-dots {
  position: absolute;
  bottom: 6%;
  display: block;
  width: 87%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  height: 11%;
  align-items: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 9%;
  height: 100%;
  margin: 0 1%;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 0.7;
}
.tile5-slider1,
.tile5-slider2,
.tile5-slider3 {
  width: 100%;
  overflow-x: hidden;
}
.tile5-slider {
  position: relative;
}
.tile5 {
  height: 100vh;
  position: relative;
  background-size: cover;
  width: 100%;
  overflow-x: hidden;
}
.tile5-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  object-fit: cover;
}
.tile5 .inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.tile5 .logo {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  align-items: center;
}
.tile5 .logo img {
  width: 15%;
}
.tile5 .slide-logo {
  width: 25%;
  margin-bottom: 25px;
}
.tile5 .tile5-content {
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
}
.tile5 .tile5-content .text {
  width: 70%;
  margin-top: 25px;
}
.tile5 .tile5-content .right-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.tile5 .tile5-content .left-content {
  width: 50%;
}
.tile5 .btn-arrow a {
  color: #fff;
}
.logo-heading {
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 20px;
}
.logo-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  display: none;
}
.logo-content .logo-img {
  width: 15%;
  display: flex;
  align-items: center;
}
/* Tile 6 */

.tile6 {
  padding: 200px 0;
}
.tile6 .inner-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
.tile6 .img-cont {
  padding: 90px 0;
}
.tile6 .btn-arrow a {
  color: #000;
}
.tile6 .desc {
  width: 40%;
}
/* Logo tile */
.logo-tile {
  padding: 70px 0;
}
.logo-tile .logo-container {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: auto;
}
.logo-tile .logo-container img {
  width: 200px;
}
/*  tile 7 */
.tile7 {
  /* padding: 0px 0 0px; */
  background: #000;
  height: 100vh;
  display: flex;
}
.tile7 .inner-container {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  align-items: center;
  position: relative;
  height: 100%;
  align-items: center;
  margin-top: 3%;
}
.tile7 .inner-container .content {
  font-size: 1em;
  margin-top: 30px;
  text-align: center;
}
.tile7 .tile-heading {
  width: 35%;
  display: none;
  opacity: 0;
  position: absolute;
  line-height: 1.1;
}
.tile7 .image-item {
  display: flex;
  flex-direction: column;
  width: 28%;
  align-items: center;
}
.tile7 .mobile-image {
  width: 100%;
  border: 1px solid #707070;
  border-radius: 20px;
  padding: 30px 15px;
  position: relative;
}
.tile7 .mobile-image .other-images {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30px;
  left: 0;
  display: flex;
  justify-content: center;
}
.mobile-image .other-images img {
  position: absolute;
  width: 92%;
}
/* Tile 8 */

.tile8 {
  height: 100vh;
}
.tile8 .inner-container {
  position: relative;
}
.tile8 .hand-img-cont {
  position: absolute;
  width: 55%;
  display: flex;
  left: 30%;
  bottom: 0;
  z-index: 1;
}
.tile8 .hand-img-cont.reveal1 {
  z-index: 2;
}
.tile8 .content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tile8 .content {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tile8 .image-container img {
  height: 100vh;
  width: auto;
}
.tile8 .hand-img-cont img {
  height: 100%;
}
.tile8 .exp-btn {
  margin-top: 40px;
  padding: 14px 20px;
  align-self: baseline;
}
/* Tile 9 */
.tile9 {
  position: relative;
  height: 100vh;
}
.tile9 .inner-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  align-items: center;
}
.tile9 .overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tile9 .content {
  width: 65%;
}
.tile9 .content .h-secondary {
  width: 75%;
}
.tile9 .content-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tile9 .content h2,
.tile8 .content h2 {
  margin-bottom: 20px;
}
.tile9 .image-container {
  width: 40%;
  height: 100vh;
  position: relative;
}
.tile9 .img-box {
  position: absolute;
  width: 50%;
}
.tile9 .img1 {
  top: 16%;
  z-index: 5;
  left: 4%;
  box-shadow: 0px 30px 40px #2f010f5c;
  border-radius: 22px;
}
.tile9 .img2 {
  top: 16.8%;
  left: 3%;
  z-index: 4;
}
.tile9 .img3 {
  top: 17.6%;
  left: 2%;
  z-index: 3;
}
.tile9 .img4 {
  top: 18.4%;
  left: 1%;
  z-index: 2;
}
.tile9 .img5 {
  top: 19.2%;
  left: 0%;
  z-index: 1;
}
/* tile 10 */
.tile10 {
  padding: 200px 0;
}
.tile10 .inner-cont {
  display: flex;
  align-items: center;
}
.tile10 .image-cont {
  width: 50%;
  margin-right: 8%;
  display: flex;
  flex-direction: column;
}
.tile10 .image-cont .prog-bar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4px;
  margin-top: 1%;
}
.tile10 .image-cont .prog-bar-container .progress,
.tile10 .image-cont .prog-bar-container .progress {
  width: 49%;
  background: rgba(214, 98, 98, 0.5);
  border-radius: 32px;
}
.progress1,
.progress2 {
  width: 0%;
  height: 100%;
  background: #fc024d;
  border-radius: 32px;
}
.tile10 .content {
  width: 45%;
}
.tile10 .content h2 {
  margin-bottom: 20px;
}
/*  tile11 */

.tile11 {
  background: #000;
  padding: 150px 0 170px;
  margin-top: 150px;
}
.tile11 .glance-btn {
  margin-top: 100px;
}
.tile11 .inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tile11 .inner-container h3 {
  margin-bottom: 20px;
}
.tile11 .inner-container .sub-heading {
  margin-bottom: 70px;
  font-weight: 900;
}
.tile11 .image-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.tile11 .mobile-image {
  height: 450px;
}
.tile11 .image-cont .image-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tile11 .mobile-names {
  color: #fff;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tile11 .phone-logo {
  margin: 35px 0 30px 0;
}
.tile11 .phone-logo img {
  height: 24px;
  width: auto;
}
/*  Tile 12 */
.tile12 {
  padding: 0 0 100px;
}
.tile12 h3 {
  padding: 0 0 100px;
}
.tile12 .inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tile12 .content-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tile12 .content-cont .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}
.tile12 .content-cont .row .col {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tile12 .content-cont .row .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
}
.tile12 .content-cont .row1 .col1,
.tile12 .content-cont .row2 .col2 {
  width: 35%;
}
.tile12 .content-cont .row1 .col2,
.tile12 .content-cont .row2 .col1 {
  width: 50%;
}
.row .col {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  padding: 3.5%;
}
.tile12-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 52%;
  text-transform: uppercase;
}
.row1 .col1 .tile12-content,
.row2 .col2 .tile12-content {
  width: 80%;
}
.row1 .col2 .tile12-content,
.row2 .col1 .tile12-content {
  width: 50%;
}
.row1 .col2 .tile12-content .logo-cont,
.row2 .col1 .tile12-content .logo-cont,
.row2 .col2 .tile12-content .logo-cont {
  background-color: #000;
}
.tile12-content .logo-cont img {
  height: 48px;
}
.logo-cont {
  width: 150px;
  background-color: #ffffff;
  padding: 0px 11px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  align-items: center;
}
.time-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.4;
}
.time-cont .time {
  font-weight: 900;
}
/*  tile13 */
.tile13 {
  padding: 100px 0 200px 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-top: 100px;
  margin-bottom: 100px;
}
.tile13 .heading {
  margin-bottom: 85px;
  width: 35%;
}
.tile13 .content-container {
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.tile13 .content-container .img-box img {
  height: 100%;
}
.tile13 .content-container .img-box {
  width: 122px;
  height: 122px;
  background-image: linear-gradient(to bottom, #e92051, #f05a27);
  border-radius: 61px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 0;
}
.tile13 .single-image {
  margin-top: 20px;
  cursor: pointer;
}
.outer-container {
  box-shadow: -20px 40px 50px 0 rgba(0, 0, 0, 0.1);
  height: 380px;
  width: 32%;
  padding: 20px 40px;
  box-sizing: border-box;
  display: none;
  opacity: 0;
  flex-direction: column;
  background: #fff;
}
.single-image.active {
  display: none;
  opacity: 0;
}
.outer-container.active {
  margin-right: -5%;
  margin-left: -5%;
  display: flex;
  opacity: 1;
}
.outer-container-5.active {
  margin-right: 0%;
}
.outer-container-1.active {
  margin-left: 0%;
}
.outer-container .content-box {
  margin-top: 10%;
  line-height: 2;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 300;
}
.box-slide {
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 0s;
  position: absolute;
  width: 28%;
  height: 230%;
  left: -2%;
  top: -10%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: -20px 40px 50px #0000001a;
  box-shadow: -20px 40px 50px 0 rgba(0, 0, 0, 0.1);
}
.box-slide .content-box {
  height: 45%;
  padding: 0 8%;
  font-size: 1.25em;
  line-height: 2;
  font-style: italic;
  font-weight: 300;
}
.outer-box-container {
  position: absolute;
  border: 1px solid red;
  width: 100%;
  top: 0;
  height: 100%;
}
.box-slide-container {
  position: relative;
  height: 100%;
  width: 100%;
}
@keyframes box-slide-animation {
  from {
    left: 0;
  }
  to {
    left: 20%;
  }
}
@media (min-width: 1025px) and (max-width: 1300px) {
  html {
    font-size: 12px;
  }

  .tile1 .content {
    bottom: -5%;
    width: 38%;
  }

  .tile1 .hero-heading {
    font-size: 3.8em;
  }

  .tile3 .image-cont .img-box {
    width: 250px;
    height: 250px;
    transition: all 0.3s ease-in-out;
  }
  .h-alternate {
    font-size: 2.3em;
  }
  .tile7 .inner-container {
    width: 64%;
  }
  .h-big {
    font-size: 7em;
  }
  .tile3 .content .big-text {
    margin-left: -47%;
  }
  .outer-container {
    height: 300px;
    width: 350px;
  }
  .tile13 .content-container .img-box {
    width: 100px;
    height: 100px;
  }
  .mobile-image .other-images img {
    width: 89%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .tile11 .mobile-image {
    height: 300px;
  }
  .row .col {
    height: 420px;
  }
  .row1 .col1 .tile12-content,
  .row2 .col2 .tile12-content {
    width: 100%;
  }
  .row1 .col2 .tile12-content,
  .row2 .col1 .tile12-content {
    width: 95%;
  }
  .tile12-content {
    height: 56%;
  }
  .outer-container {
    height: 250px;
    width: 285px;
  }
  .tile13 .content-container .img-box {
    width: 90px;
    height: 90px;
  }
  .mobile-image .other-images img {
    width: 89%;
  }
}
@media (min-width: 1500px) {
  .tile5 .tile5-content {
    padding-bottom: 150px;
  }
  .tile8 .hand-img-cont {
    width: 65%;
  }
  .tile9 .content {
    width: 75%;
  }
  .tile9 .img-box {
    width: 60%;
  }
  .tile12-content {
    height: 60%;
  }
  .row1 .col1 .tile12-content,
  .row2 .col2 .tile12-content {
    width: 85%;
  }
  .tile1 .content {
    width: 35%;
    right: 15%;
  }
  .tile4 .content .heading {
    width: 27%;
  }
}
@media (min-width: 1800px) {
  .tile1 {
    padding-bottom: 300px;
  }
  .tile1 .image-container {
    width: 95%;
    margin: auto;
    transform: scale(10);
  }
  .tile1 .col2 {
    transform: translateY(2%);
  }
  .tile1 .col3 {
    transform: translateY(-17%);
  }
  .tile1 .col > img {
    margin-top: -18%;
  }
  .slick-dots {
    width: 80%;
    bottom: 9%;
  }
  .tile5,
  .tile5 .inner-container {
    height: 100vh;
    max-height: 100%;
  }

  .video-tile {
    position: relative;
    min-height: unset;
    height: 100vh;
    overflow: hidden;
  }
  .video-tile video {
    object-fit: cover;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  .tile5 .tile5-content {
    padding-bottom: 200px;
  }
  .slick-dots li {
    margin: 0 1%;
  }
  .mobile-image .other-images img {
    width: 91%;
  }
  .tile8 .hand-img-cont {
    width: 75%;
    left: 28%;
  }
  .tile9 .img-box {
    width: 70%;
  }
  .tile9 .content-container {
    justify-content: flex-start;
  }
  .tile12-content {
    height: 62%;
  }
  .row1 .col1 .tile12-content,
  .row2 .col2 .tile12-content {
    width: 80%;
  }
  .tile1 .content {
    width: 38%;
    right: 10%;
    bottom: -5%;
  }
  .tile1 .hero-heading {
    font-size: 5em;
    line-height: 1.2;
  }
  .tile1 .content .img-cont {
    width: 21%;
  }
  .second-row {
    width: 83%;
  }
  .tile3 {
    padding: 0;
  }
  .logo-tile {
    padding: 100px 0;
  }
  .logo-tile .logo-container {
    width: 54%;
  }
  .tile5 .h-tertiary {
    font-size: 3em;
  }
  .tile5 .h-secondary,
  .tile8 .h-secondary {
    font-size: 4em;
  }
  .tile5 .slide-logo {
    width: 29%;
  }
  .tile8 .content {
    width: 35%;
  }
  .tile7 .image-item {
    width: 28%;
  }
  .tile7 .mobile-image {
    padding: 30px 20px;
  }
  .tile7 .tile-heading {
    line-height: 1;
  }
  .tile11 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tile11 .inner-container {
    width: 100%;
  }
}

.tile0 .hero-text {
  color: #000;
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.branding-logo {
  text-align: center;
  width: 45%;
  margin: auto;
  margin-bottom: 30px;
}

.branding-logo img {
  width: 100%;
}

.newsroom-cta-button {
  background: #fc024d;
  color: white;
  display: block;
  width: 138px;
  margin: auto;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 18px;
  text-align: center;
  margin-bottom: 40px;
}
.hero-tile {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.hero-banner {
  width: 100%;
}
