body, p, div, span, a, 
h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif !important;
	font-weight: normal;
}

#full-width-page-wrapper {
    padding: 0;
}

body:not(.single-post) #primary header.entry-header {
    display: none;
}

.kb-fw-row {
    margin: 0 !important;
}

.width-95 {
    max-width: 95%;
}

.width-85 {
    max-width: 85%;
}

.width-80 {
    max-width: 80%;
}

.width-75 {
    max-width: 75%;
}

.width-70 {
    max-width: 70%;
}

.width-65 {
    max-width: 65%;
}

.width-50 {
    max-width: 50%;
}

div#page-wrapper {
    padding: 150px 0;
}

.kb-section-padding {
    padding: 150px 0;
}

.page-title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    letter-spacing: -1.5px;
    color: #091e56;
    margin-bottom: 20px;
}

.page-subtitle {
    font-size: 20px;
    line-height: 23px;
    font-weight: normal;
    color: #637381;
}

.banner-title {
    font-size: 40px;
    line-height: 47px;
    font-weight: bold;
    letter-spacing: -1.5px;
    color: #252525;
    margin-bottom: 20px;
}

.section-title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
    letter-spacing: -1.5px;
    color: #252525;
    margin-bottom: 5px;
}

.section-subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #637381;
}

.section-title-sm {
    font-size: 35px;
    line-height: 41px;
}

.section-subtitle-sm {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
}

.section-subtitle-lg {
    font-size: 20px;
    line-height: 23px;
}

.section-caption {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1740aa;
    margin-bottom: 15px;
}


/* GET APP LINK FORM */
.app-form {
    margin: 50px 0;
}

.app-input-code {
    width: 60px;
    height: 60px;
    background-color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid #ddd;
    border-right: 0;
    color: #637381;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px 0 0 4px;
    padding: 15px;
    outline: none;
}

.app-input {
    height: 60px;
    background-color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid #ddd;
    /*border-left: 0;*/
    color: #637381;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    /*border-radius: 0 4px 4px 0;*/
    padding: 15px;
    outline: none;
}

.app-input::placeholder {
    color: #adadad;
}

.app-submit {
    width: 170px;
    height: 60px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    background: #1740AA;
    color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 15px;
    margin-left: 5px;
}

.app-submit:hover {
    background: transparent;
    border-color: #1740aa;
    color: #1740aa;
}

.app-links {
    margin: 0 -5px;
}

.app-links a {
    display: inline-block;
    padding: 0 5px;
}
.app-links a img{
    width: 200px;
}
/* /GET APP LINK FORM */


/* YOUTUBE VIDEO */
.kb-video-playing {
    overflow: hidden;   
}

.play-video {
    position: absolute;
    top: calc(50% - 65px/2);
    left: calc(50% - 65px/2);
    cursor: pointer;
    width: 65px;
    height: 65px;
    z-index: 2;
}

.kb-video-wrapper {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9999;
}

.kb-video-close {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.kb-video-close img {
    filter: invert(1);
}

.kb-video-inner {
    width: 100%;
    height: 100%;
}

.kb-video {
    position: fixed;
    top: calc(50% - 349px/2);
    left: calc(50% - 560px/2);
    width: 560px;
    height: 315px;
    border: 5px solid #eff3ff;
    border-radius: 8px;
}

.kb-video-wrapper.kb-play-video {
    display: block;
    opacity: 1;
}
/* /YOUTUBE VIDEO */


/* RIGHT SIDEBAR */
.kb-subscribe-blog-wrapper {
    position: relative;
    background: #1740aa;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 35px 35px 40px;
}

.kb-subscribe-blog-wrapper:after {
    content: "";
    position: absolute;
    bottom: 28px;
    right: 15px;
    display: block;
    width: 150px;
    height: 66px;
    background-image: url(../fonts/Design.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    z-index: 1;
}

.subscribe-blog-title {
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
}

.subscribe-blog-subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 30px;
}

.subscribe-form {
    position: relative;
    z-index: 2;
}

.subscribe-form .wpcf7 .wpcf7-form p:not(:last-of-type) {
    margin-bottom: 15px;
}

.subscribe-form input:not(.wpcf7-submit) {
    height: 50px !important;
    background: #456BCE !important;
    border: none !important;
    border-radius: 4px !important;
    color: #fff !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: normal !important;
    padding: 15px !important;
}

.subscribe-form input::placeholder {
    color: #fff !important;
}

.subscribe-form .wpcf7 .wpcf7-form p:last-of-type {
    margin-bottom: 0;
}

.subscribe-form input.wpcf7-submit {
    height: 50px !important;
    background: #fff !important;
    border: none !important;
    border-radius: 4px !important;
    color: #1740aa !important;
    font-size: 16px !important;
    line-height: 19px !important;
    font-weight: 500 !important;
    padding: 15px !important;
    text-align: center;
}

.subscribe-form .wpcf7-response-output {
    margin: 0;
    border-radius: 4px;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 17px;
}

.subscribe-form .wpcf7-response-output.wpcf7-validation-errors {
    display: none !important;
}

.subscribe-form .wpcf7 .wpcf7-not-valid-tip {
    font-size: 13px;
    line-height: 15px;
    margin-top: 5px;
}

#right-sidebar .widget {
    margin-bottom: 50px;
}

#right-sidebar .widget-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #3a3a3a;
    text-transform: initial;
    margin-bottom: 30px;
}

#right-sidebar .widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#right-sidebar .widget ul li {
    background: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    padding: 30px;
    margin-bottom: 20px;
}

#right-sidebar .widget ul li .post-title {
    position: relative;
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #222222;
    margin: 10px 0 15px;
}

#right-sidebar .widget ul li .cat-links a {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1740aa;
    text-transform: uppercase;
}

#right-sidebar .widget ul li .post-meta {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    color: #637381;
}

#right-sidebar .widget ul li span.post-date {
    display: flex;
    align-items: center;
}

#right-sidebar .widget ul li span.post-date:before {
    content: "";
    width: 4px;
    height: 4px;
    background: #637381;
    border-radius: 50%;
    margin: 0 10px;
}
/* /RIGHT SIDEBAR */


/* MODAL */
.app-modal-wrapper,
.app-thankyou-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999;
}

.app-modal {
    position: absolute;
    top: calc(50% - 250px);
    left: 10%;
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 25px;
}

.app-modal .app-modal-cross,
.app-modal .app-thankyou-modal-cross {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
}

.app-modal .section-title {
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 16px;
    text-align: center;
}

.app-modal .section-subtitle {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 0;
    text-align: center;
}

.app-modal .app-form {
    display: block;
    margin: 40px 0 0;
}

.app-modal .app-input {
    display: block;
    width: 340px;
    margin-bottom: 16px;
}

.app-modal .app-submit {
    display: block;
    width: 340px;
    margin-left: 0;
}

.app-modal .app-done {
    min-width: 200px;
}

.app-form.smserror:after {
	content: 'There was an error, please try again later';
	display: block;
	font-size: 12px;
	margin-top: 10px;
	color: red;
}

/* /MODAL */


/* 404 Temp */
section.error-404.not-found {
    margin: 150px auto;
    text-align: center;
}

section.error-404 h1.page-title {
    font-size: 200px;
    line-height: 235px;
    font-weight: bold;
    letter-spacing: -1.5px;
    color: #252525;
}

section.error-404 h1.page-title span {
	position: relative;
	color: #c8d0e7;
    font-weight: bold;
}

section.error-404 h1.page-title span:after {
	content: "";
	position: absolute;
    bottom: 53px;
    right: 15px;
    width: 75px;
    height: 75px;
    background-image: url(../fonts/404-image.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}
   
section.error-404 .page-subtitle {
    font-size: 35px;
    line-height: 41px;
    font-weight: 600;
    letter-spacing: -1.5px;
    color: #252525;
    margin-bottom: 16px;
}

section.error-404 div {
	font-size: 20px;
	line-height: 23px;
    font-weight: normal;
	letter-spacing: 0.3px;
	color: #637381;
}

section.error-404 div a {
    color: #1740aa;
    text-decoration: underline;
}

section.error-404 div a:hover {
    color: #132F78;
}

section.error-404 .home-btn {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    min-height: 60px;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    font-weight: 600;
    background: #1740AA;
    color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    margin: 60px auto 20px;
}

section.error-404 .home-btn:hover {
    background: #132F78;
    color: #fff;
}

section.error-404 .support-btn {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    min-height: 60px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    text-decoration: none;
    background: #FFFFFF;
    color: #1740AA;
    border: 1px solid #1740AA;
    border-radius: 4px;
	padding: 20px;
    margin: auto;
}

section.error-404 .support-btn:hover {
	color: #fff !important;
    background: #1740aa;
}

.navbar-expand-md>.container {
    position: relative;
}


/* IPAD PRO */
@media only screen and (max-width: 1200px) and (min-width: 1024px) {
    .width-95 {
        max-width: 100%;    
    }
    
    .width-85,
    .width-80 {
        max-width: 90%;
    }

    .width-75 {
        max-width: 85%;
    }
    
    .width-70 {
        max-width: 80%;
    }
    
    .width-65 {
        max-width: 75%;
    }

    .width-50 {
        max-width: 60%;
    }
    
    .section-title {
        font-size: 30px;
        line-height: 35px;
    }
    
    #right-sidebar .widget ul li {
        padding: 20px;
    }
    
    #right-sidebar .widget ul li .post-meta {
        font-size: 14px;
        line-height: 17px;
    }
}
/* /IPAD PRO */


/* IPAD */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .width-95,
    .width-85,
    .width-80,
    .width-75,
    .width-70,
    .width-65,
    .width-50 {
        max-width: 100%;
    }
    
    .page-title {
        font-size: 50px;
        line-height: 60px;
    }
    
    .section-title {
        font-size: 30px;
        line-height: 35px;
    }
    
    .app-form {
        display: flex;
    }
    
    .app-input {
        width: 215px;
    }
    
    .app-submit {
        padding: 5px;
        font-size: 13px;
        line-height: 15px;
    }
    
    .kb-subscribe-blog-wrapper {
        padding: 20px;
    }
    
    .kb-subscribe-blog-wrapper:after {
        bottom: 20px;
        right: 10px;
        width: 125px;
        height: 50px;
    }
    
    .subscribe-blog-title {
        font-size: 25px;
        line-height: 25px;
    }
    
    .subscribe-form input:not(.wpcf7-submit),
    .subscribe-form input.wpcf7-submit {
        height: 40px !important;
        font-size: 13px !important;
        line-height: 15px !important;
    }
    
    #right-sidebar .widget ul li {
        padding: 20px;
    }
    
    #right-sidebar .widget ul li .post-title {
        font-size: 18px;
        line-height: 22px;
    }
    
    #right-sidebar .widget ul li .post-meta {
        flex-direction: column;
        align-items: initial;
    }
    
    #right-sidebar .widget ul li span.post-date {
        display: block;
        margin-top: 2px;
    }
    
    #right-sidebar .widget ul li span.post-date:before {
        display: none;
    }
    
    .app-modal .app-modal-cross,
    .app-modal .app-thankyou-modal-cross {
        top: 25px;
        right: 25px;
    }
    .app-links a img{
        width: 150px;
    }
}
/* /IPAD */


@media only screen and (min-width: 768px) {
    .hide-dk {
        display: none;  
    }
}


/* MOBILE */
@media only screen and (max-width: 767px) {
    .hide-mb {
        display: none;  
    }
    
    body .container {
        padding-right: 25px;
        padding-left: 25px;
    }
    
    .width-95,
    .width-85,
    .width-80,
    .width-75,
    .width-70,
    .width-65,
    .width-50 {
        max-width: 100%;
    }
    
    div#page-wrapper {
        padding: 100px 0 50px;
    }
    
    div#page-wrapper #right-sidebar {
        margin-top: 50px;
    }
    
    .kb-section-padding {
        padding: 100px 0;
    }
    
    .page-title {
        font-size: 46px;
        line-height: 54px;
    }
    
    .page-subtitle,
    section.error-404 div {
        font-size: 18px;
        line-height: 21px;
    }
    
    .banner-title {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 16px;
    }
    
    .section-caption {
        margin-bottom: 12px;
    }
    
    .section-title {
        font-size: 30px;
        line-height: 35px;    
    }
    
    .section-title-sm,
    section.error-404 .page-subtitle {
        font-size: 26px;
        line-height: 30px;
    }
    
    .section-subtitle,
    .section-subtitle-sm,
    .section-subtitle-lg {
        font-size: 16px;
        line-height: 19px;
    }
    
    .app-form {
        margin: 30px 0;
    }
    
    .app-input {
        width: 100%;
        margin-bottom: 16px;
    }
    
    .app-submit {
        width: 100%;
        margin-left: 0;
    }
    
    .kb-video-close {
        top: 25px;
        right: 25px;
    }
    
    .kb-video {
        width: 320px;
        height: 215px;
        top: calc(50% - 215px/2);
        left: calc(50% - 320px/2);
    }
    
    .app-modal {
        height: 80%;
        top: calc(50% - 40%);
        padding: 35px;
    }
    
    .app-modal .app-modal-cross,
    .app-modal .app-thankyou-modal-cross {
        width: 36px;
        top: 20px;
        right: 20px;
    }
    
    .app-modal .section-title {
        font-size: 24px;
        line-height: 28px;
    }
    
    .app-modal .section-subtitle {
        font-size: 16px;
        line-height: 19px;
    }
    
    .app-modal .app-input,
    .app-modal .app-submit {
        width: 100%;
    }
    
    section.error-404 h1.page-title {
        font-size: 135px;
        line-height: 160px;
    }
    
    section.error-404 h1.page-title span:after {
        width: 50px;
        height: 50px;
        bottom: 35px;
        right: 10px;
    }
    
    section.error-404 .home-btn,
    section.error-404 .support-btn {
        width: 270px;
    }
    .app-links a img{
        width: 125px;
    }
}
/* /MOBILE */


/* SMALL MOBILE */
@media only screen and (max-width: 320px) {
    .kb-video {
        width: 280px;
        height: 175px;
        top: calc(50% - 175px/2);
        left: calc(50% - 280px/2);
    }
    
    .app-modal {
        height: 90%;
        top: calc(50% - 45%);
        padding: 30px;
    }
    
    .app-modal .app-modal-cross,
    .app-modal .app-thankyou-modal-cross {
        width: 25px;
        top: 15px;
        right: 15px;
    }
}
/* /SMALL MOBILE */


/* COLUMNS IN CONTAINER INSIDE FULL WIDTH ROW */
@media (min-width: 768px) {
    .col-container-left {
        padding-left: calc(50% - 720px/2 + 15px) !important;
    }
    
    .col-container-right {
        padding-right: calc(50% - 720px/2 + 15px) !important;
    }
}

@media (min-width: 992px) {
    .col-container-left {
        padding-left: calc(50% - 960px/2 + 15px) !important;
    }
    
    .col-container-right {
        padding-right: calc(50% - 960px/2 + 15px) !important;
    }
}

@media (min-width: 1200px) {
    .col-container-left {
        padding-left: calc(50% - 1140px/2 + 15px) !important;
    }
    
    .col-container-right {
        padding-right: calc(50% - 1140px/2 + 15px) !important;
    }
}
/* /COLUMNS IN CONTAINER INSIDE FULL WIDTH ROW */