div#wrapper-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

nav#main-nav {
    background-color: transparent !important;
    padding: 30px 0;
    transition: padding ease-in 0.5s;
}

.kb-sticky nav#main-nav {
    background-color: #fff !important;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    padding: 15px 0;
}
.hide-all{
	display:none;
}


/* MAIN MENU */
ul#main-menu {
    display: flex;
    align-items: center;
}

ul#main-menu li.menu-item a.nav-link {
    color: #091e56 !important;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.3px;
    padding-left: 15px;
    padding-right: 15px;
}

ul#main-menu li.menu-item.current-menu-item a.nav-link,
ul#main-menu li.menu-item a.nav-link:hover {
    color: #1740aa !important;
    text-decoration: underline;
}

ul#main-menu li.menu-item.menu-hiring a.nav-link {
    font-weight: 600;
    border: 1px solid #1740aa;
    border-radius: 4px;
    padding: 12px;
    /* margin-left: 15px; */
    margin-right: 5px;
}

ul#main-menu li.menu-item.menu-hiring.current-menu-item a.nav-link,
ul#main-menu li.menu-item.menu-hiring a.nav-link:hover {
    text-decoration: none;
    color: #fff !important;
    background: #1740aa;
}

ul#main-menu li.menu-item.menu-app a.nav-link, ul#main-menu li.menu-item.menu-login a.nav-link {
    min-width: 130px;
    text-align: center;
    color: #fff !important;
    font-weight: 600;
    background: #1740aa;
    border-radius: 4px;
    padding: 12px;
    margin-left: 5px;
}

ul#main-menu li.menu-item.menu-app.current-menu-item a.nav-link,
ul#main-menu li.menu-item.menu-app a.nav-link:hover, ul#main-menu li.menu-item.menu-login.current-menu-item a.nav-link, ul#main-menu li.menu-item.menu-login a.nav-link:hover {
    text-decoration: none;
    background: #132F78;
}
/* /MAIN MENU */


/* IPAD */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    ul#main-menu li.menu-item a.nav-link {
        font-size: 13px;
        line-height: 15px;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    
    ul#main-menu li.menu-item.menu-hiring a.nav-link,
    ul#main-menu li.menu-item.menu-app a.nav-link, ul#main-menu li.menu-item.menu-login a.nav-link {
        min-width: 110px;
        text-align: center;
    }
}
/* /IPAD */


/* MOBILE */
@media only screen and (max-width: 767px) {
    nav#main-nav {
        padding: 20px 25px 0;
    }
    
    .navbar-brand {
        margin: 0 !important;
        padding: 0 !important;
    }
    
    .navbar-brand img.img-fluid {
        width: auto;
    }
    
    .kb-menu-active div#wrapper-navbar {
        background: #fff;
        height: 100vh;
        overflow: scroll;
    }
    
    .kb-sticky nav#main-nav {
        padding: 15px 25px;
    }
    
    .kb-sticky.kb-menu-active nav#main-nav {
        box-shadow: none;
    }
    
    .kb-sticky .navbar-brand img.img-fluid {
        max-height: 35px;
    }

    nav#main-nav span.navbar-toggler-icon:before,
    nav#main-nav span.navbar-toggler-icon:after {
        content: "";
        display: block;
        width: 25px;
        height: 3px;
        background-color: #252525;
        transition: transform ease-in-out 0.5s;
    }
    
    nav#main-nav span.navbar-toggler-icon:after {
        margin-top: 7px;
    }
    
    .kb-menu-active nav#main-nav span.navbar-toggler-icon:before {
        transform: rotate(45deg) translate(3px, 0);
    }
    
    .kb-menu-active nav#main-nav span.navbar-toggler-icon:after {
        transform: rotate(-45deg) translate(1.5px, 0.5px);
        margin-top: 0;
    }

    nav#main-nav span.navbar-toggler-icon {
        width: auto;
        height: auto;
        background-image: none !important;
    }
    
    nav#main-nav button.navbar-toggler {
        padding: 0;
        outline: none !important;
    }
    
    ul#main-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: initial;
        margin-top: calc(60px - 17.5px);
    }
    
    ul#main-menu > li {
        width: 100%;
    }
    
    ul#main-menu li.menu-item a.nav-link {
        font-size: 20px;
        line-height: 23px;
        padding: 17.5px 0;
    }
    
    ul#main-menu li.menu-item.menu-app a.nav-link, ul#main-menu li.menu-item.menu-login a.nav-link {
        margin-left: 0;
        margin-top: calc(50px - 17.5px);
        margin-bottom: 35px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    ul#main-menu li.menu-item.menu-ios,
    ul#main-menu li.menu-item.menu-android {
        max-width: 25px;
    }
    
    ul#main-menu li.menu-item.menu-ios {
        margin-right: 20px;    
    }
    
    ul#main-menu li.menu-item.menu-ios a.nav-link {
        font-size: 0;
        line-height: 0;
        padding: 0;
    }
    
    ul#main-menu li.menu-item.menu-ios a.nav-link:before {
        content: "";
        display: block;
        height: 30px;
        background-image: url(../fonts/Apple-icon.svg);
        background-repeat: no-repeat;
    }
    
    ul#main-menu li.menu-item.menu-android {
        margin-left: 20px;
    }
    
    ul#main-menu li.menu-item.menu-android a.nav-link {
        font-size: 0;
        line-height: 0;
        padding: 0;
    }
    
    ul#main-menu li.menu-item.menu-android a.nav-link:before {
        content: "";
        display: block;
        height: 30px;
        background-image: url(../fonts/Android-icon.svg);
        background-repeat: no-repeat;
    }
}
/* /MOBILE */